$dashColor: #1E1E2C;
%big-card {
    background-color: $dashColor;
    padding: 10px;
    max-height: 400px;
    width: 400px;
}
%small-card {
    background-color: $dashColor;
    padding: 5px;
}
%listing {

}
%pfp {
    height: 35px;
    width: auto;
    border: 0;
    border-radius: 15px;
}
%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-col {
    display: flex;
    flex-direction: column;
}
 body {
    background: black;
    color: white;

    h3 {
        color: gray
    }
 }
 nav {
    @extend %flex-row;
    justify-content: space-between;
    background-color: $dashColor;
    padding: 7px;

    .navRight {
        @extend %flex-row;
        justify-content: space-evenly
    }

    #search {
        background-color: #3c3c5c;;
        border: none;
        border-radius: 15px;
        color: white;
        width: 20%;
    }
 }
 section {
    @extend %flex-row;
 }
 .dashboard {

 }
 .sideNav {
    background-color: $dashColor;
    border-top: 2px solid white;

    ul {
        list-style: none
    }
 }
 .cards {
    @extend %flex-col;
    justify-content: space-evenly;
 }
 .row1, .row2 {
    @extend %flex-row;
}
 .bigCard {
    @extend %big-card;
    margin: 15px;
 }
 .smallCards {
    width: 400px;
    @extend %flex-col;
    justify-content: space-evenly;
    .smallCard {
        @extend %small-card;
        margin: 15px;
    
        .expectedEarnings {
            @extend %flex-row;
        }
    }
}
.pfp {
    @extend %pfp;
}
img {
    width: auto;
}
.EEGraph {
    height: 70px;
}
.ADSGraph {
    height: 50px;
}
.GBGraph {
    height: 15px;
}
.multiplePfps {
    height: 40px;
}
.STMGraph {
    height: 175px;
}
.DPSGraph {
    height: 200px;
}