$dashColor: #1E1E2C;
$h3Color: rgb(112, 112, 112);
$hoverColor: #121217;

%card{
    background-color: $dashColor;
    padding: 2%;
    width: 450px;
    height: auto;
    border-radius: 15px;

    h2 {
        margin-bottom: 2px;
        font-size: 150%;
    }
    h3 {
        margin-top: 2px;
        font-size: 120%;
    }
}
@mixin image-margin() {
    margin-top: 40px;
}
%pfp {
    height: auto;
    width: 35px;
    border: 0;
    border-radius: 15px;
}
%listing {
    li:hover {
        background-color: $hoverColor;
    }
}
%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-col {
    display: flex;
    flex-direction: column;
}
%imageHover {
    background-color: white;
    border-radius: 15px;
}

 body {
    background: black;
    color: white;
    font-family: "Roboto Mono", monospace;

    h3 {
        color: $h3Color;
    }
    a {
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 0;
        border: 0;
    }
 }
 nav {
    @extend %flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: $dashColor;
    padding: 7px;

    .logo {
        border: 1px solid #3c3c5c;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin-left: 20px;
    }

    #search {
        background-color: #3c3c5c;
        border: none;
        border-radius: 15px;
        color: white;
        width: 20%;
        height: auto;
        min-height: 35px;
        padding-left: 20px;
    }

    .navRight {
        @extend %flex-row;
        justify-content: space-evenly;
        
        .pfp {
            @extend %pfp;
            margin-right: 20px;
            padding: 2px;
        }
        .notif {
            height: auto;
            width: 40px;
            margin-right: 20px;
        }
        .pfp:hover, .notif:hover {
            @extend %imageHover;
        }
    }
 }
 section {
    @extend %flex-row;
 }
 .dashboard {
    margin-left: 12%;
 }
 .sideNav {
    background-color: $dashColor;
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;

    h3 {
        text-align: left;
    }

    ul {
        list-style: none;
        padding: 0;

        @extend %listing;
        li {
            padding: 12px;
        }
    }
 }
 .cards {
    @extend %flex-row;
    flex-wrap: wrap
 }
//  .row1, .row2 {
//     @extend %flex-row;
// 
// }
 .card {
    @extend %card;
    @extend %flex-col;
    margin: 15px;

    .expectedEarnings {
        @extend %flex-row;
    }
}
img {
    height: auto;
}
.expectedEarnings {
    @include image-margin();

    .EEGraph {
        width: 48%;
    }
}
.STMGraph {
    width: 95%;
}
.ADSGraph {
    margin-top: 15%;
    width: 90%;
}
.DPSGraph {
    width: 100%;
}