$dashColor: #1E1E2C;
%card{
    background-color: $dashColor;
    padding: 10px;
    max-height: 400px;
    width: 400px;
}
%listing {

}
%pfp {
    height: 35px;
    width: auto;
    border: 0;
    border-radius: 15px;
}
%flex-row {
    display: flex;
    flex-direction: row;
}
%flex-col {
    display: flex;
    flex-direction: column;
}
 body {
    background: black;
    color: white;

    h3 {
        color: gray
    }
 }
 nav {
    @extend %flex-row;
    justify-content: space-between;

align-items: center;    background-color: $dashColor;
    padding: 7px;

    .navRight {
        @extend %flex-row;
        justify-content: space-evenly
    }

    #search {
        background-color: #3c3c5c;;
        border: none;
        border-radius: 15px;
        color: white;
        width: 20%;
        height: 35px;
        padding-left: 20px;
    }
    .notif {
        height: auto;
        width: 40px;
        margin-right: 20px;
    }
 }
 section {
    @extend %flex-row;
 }
 .dashboard {
    margin-left: 15%;
 }
 .sideNav {
    align-items: center;
    background-color: $dashColor;
    border-top: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;

    ul {
        list-style: none;
        padding: 0;
    }
 }
 .cards {
    @extend %flex-col;
    justify-content: space-evenly;
 }
 .row1, .row2 {
    @extend %flex-row;
}
 .card {
    @extend %card;
    @extend %flex-col;
    margin: 15px;

    .expectedEarnings {
        @extend %flex-row;
    }
}
.pfp {
    @extend %pfp;
}
img {
    width: auto;
}
.EEGraph {
    height: 175px;
}
.STMGraph {
    height: 175px;
}
.DPSGraph {
    height: 200px;
}